{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <main role="main">
        <div class="container">
            <h1>Welcome</h1>
        </div>
    </main>
{% endblock %}
