###> IDE (SublimeText, Eclipse, Zend Studio, Netbeans, PHPStorm, TextMate2, Visual Studio Code) ###
Capfile
.buildpath
/.idea/
nbproject
.project
.settings
.sublime-project
TextMate2
.vscode
###< IDE ###

###> Sonar Scanner ###
/.scannerwork/
sonar-project.properties
###< Sonar Scanner ###

###> symfony/framework-bundle ###
/public/bundles/
/vendor/
/var/
/bin/
!/bin/console
!/bin/phpunit
/.env.local
/.env.local.php
/.env.*.local
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> sensiolabs-de/deptrac-shim ###
/.deptrac.cache
###< sensiolabs-de/deptrac-shim ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
